@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

body {
  background-color: rgba(35, 41, 49, 1);
  color: rgba(238, 238, 238, 1);
  font-family: Saraburn, sans-serif;
  font-size: 125%;
  padding: 1em;
  overflow: hidden;
}
title {
  color: rgba(78, 204, 163, 1);
}

.main_div {
  height: 85vh;
  overflow: auto;
  padding: 1em;
}
.recipe_div {
  height: 70vh;
  overflow: auto;
  width:100%;
}
.recipe-item {
  cursor: pointer;
  text-decoration: underline;
}

.recipe-item:hover {
  color: rgba(78, 204, 163, 1);
}
.recipe-tab {
  color: rgba(78, 204, 163, 1);
  font-weight: "bold";
}
/* mouse over link */
.recipe-tab:hover {
  color: rgba(238, 238, 238, 1);
}

.nav-item-one {
  border-color: "#e9ecef #e9ecef #dee2e6";
  text-decoration: underline;
  text-decoration-color: rgba(78, 204, 163, 1);
}
.nav-item-one:hover {
  background: rgba(45, 51, 60, 1);
}
