@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body {
  background-color: #232931;
  color: rgba(238, 238, 238, 1);
  font-family: Saraburn, sans-serif;
  font-size: 125%;
  padding: 1em;
}
title {
  color: rgba(78, 204, 163, 1);
}

.main_div {
  height: 85vh;
  overflow: auto;
  padding: 1em;
}
.recipe_div {
  height: 75vh;
  overflow: auto;
}

/* 
.mediaViewInfo {
		--web-view-name: Home Screen;
		--web-view-id: Home_Screen;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Home_Screen;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home_Screen {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(35,41,49,1);
		overflow: hidden;
		--web-view-name: Home Screen;
		--web-view-id: Home_Screen;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	/* @keyframes  {
	
	
	}
	@keyframes  {
	
	
	} 
	#RECIPE_RECOMMENDER_ {
		left: 20px;
		/* top: -11px; 
		position: absolute;
		overflow: visible;
		width: auto;
		height: 127px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 75px;
		color: rgba(78,204,163,1);
	}
	#ID2_Best_Screwdriver {
		right: 71px;
		top: 150px;
		position: absolute;
		overflow: visible;
		width: 286px;
		white-space: nowrap;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Screw_Driver_Home.html;
		cursor: pointer;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID3_Spicy_Buffalo-Style_Meatba {
		left: 71px;
		top: 210px;
		position: absolute;
		overflow: visible;
		width: 474px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID1_Quick_and_Easy_Strawberry_ {
		left: 71px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 588px;
		white-space: nowrap;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Strawberry__Recommend_1___1.html;
		cursor: pointer;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID4_Kims_Summer_Cucumber_Pasta {
		left: 71px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 590px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID6_Cookies_N_Crme_Cream_Chees {
		left: 71px;
		top: 390px;
		position: absolute;
		overflow: visible;
		width: 702px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID7_Potato_Waffles {
		left: 71px;
		top: 450px;
		position: absolute;
		overflow: visible;
		width: 256px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID5_Oatmeal_Butterscotch_Cooki {
		left: 71px;
		top: 330px;
		position: absolute;
		overflow: visible;
		width: 488px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID8_Dark_Chocolate_Molasses_Co {
		left: 71px;
		top: 510px;
		position: absolute;
		overflow: visible;
		width: 535px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID9_Orange_Bread_II {
		left: 71px;
		top: 570px;
		position: absolute;
		overflow: visible;
		width: 269px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#ID10_Slow_Cooker_Hawaiian_Chic {
		left: 71px;
		top: 630px;
		position: absolute;
		overflow: visible;
		width: 518px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -17.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#DIRECTIONS {
		left: 20px;
		top: 744px;
		position: absolute;
		overflow: hidden;
		width: 384px;
		height: 82px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(78,204,163,1);
	}
	#Click_the_Recipe_that_you_woul {
		left: 71px;
		top: 826px;
		position: absolute;
		overflow: visible;
		width: 849px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(238,238,238,1);
	}
	#Recipe {
		position: absolute;
		width: 920px;
		height: 1040px;
		right: 20px;
		top: 20px;
		overflow: visible;
	}
	#Rectangle_1 {
		fill: rgba(57,62,70,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 920px;
		height: 1040px;
		left: 0px;
		top: 0px;
	}
	#Quick_and_Easy_Strawberry_Shak {
		right: 20px;
		top: 30px;
		position: absolute;
		overflow: visible;
		width: 866px;
		height: 90px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(78,204,163,1);
	}
	#NoPath_-_Copy {
		position: absolute;
		width: 504px;
		height: 283.5px;
		left: 1189px;
		top: 116px;
		overflow: visible;
	}
	#Ingredients {
		left: 1068px;
		top: 493px;
		position: absolute;
		overflow: visible;
		width: 243px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -10px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(238,238,238,1);
	}
	#Directions {
		left: 1584px;
		top: 493px;
		position: absolute;
		overflow: visible;
		width: 220px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -10px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(238,238,238,1);
	}
	#____1_8_ounce_package_cream_ch {
		left: 1003px;
		top: 590px;
		position: absolute;
		overflow: visible;
		width: 438px;
		height: 407px;
		line-height: 34px;
		margin-top: -2px;
		text-align: left;
		font-family: Dubai;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(238,238,238,1);
	}
	#Ellipse_1 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 999px;
		top: 601px;
	}
	#Ellipse_2 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_2 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 999px;
		top: 669px;
	}
	#Ellipse_3 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 999px;
		top: 737px;
	}
	#Ellipse_4 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_4 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 999px;
		top: 772px;
	}
	#Ellipse_5 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_5 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 999px;
		top: 840px;
	}
	#Ellipse_6 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 999px;
		top: 908px;
	}
	#____Beat_cream_cheese_and_swee {
		left: 1440px;
		top: 590px;
		position: absolute;
		overflow: hidden;
		width: 442px;
		height: 465px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(238,238,238,1);
	}
	#Ellipse_7 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_7 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1437px;
		top: 601px;
	}
	#Ellipse_8 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_8 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1437px;
		top: 879px;
	}
	#Ellipse_9 {
		fill: rgba(78,204,163,1);
	}
	.Ellipse_9 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1437px;
		top: 760px;
	}
	#ID5_stars {
		position: absolute;
		width: 275px;
		height: 50px;
		left: 1304px;
		top: 420px;
		overflow: visible;
	}
	#Polygon_1 {
		fill: rgba(78,204,163,1);
	}
	.Polygon_1 {
		overflow: hidden;
		position: absolute;
		width: 55px;
		height: 50px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Polygon_8 {
		fill: rgba(78,204,163,1);
	}
	.Polygon_8 {
		overflow: hidden;
		position: absolute;
		width: 55px;
		height: 50px;
		left: 55px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Polygon_9 {
		fill: rgba(78,204,163,1);
	}
	.Polygon_9 {
		overflow: hidden;
		position: absolute;
		width: 55px;
		height: 50px;
		left: 165px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Polygon_10 {
		fill: rgba(78,204,163,1);
	}
	.Polygon_10 {
		overflow: hidden;
		position: absolute;
		width: 55px;
		height: 50px;
		left: 220px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Polygon_11 {
		fill: rgba(78,204,163,1);
	}
	.Polygon_11 {
		overflow: hidden;
		position: absolute;
		width: 55px;
		height: 50px;
		left: 110px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	} */
